---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Card from "../components/Card.astro";
const skills = ([] = ["React", "Vue", "Angular", "Ruby on Rails"]);
---

<Layout title="Laura caicedo">
  <div
    class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0"
  >
    <div class="lg:flex lg:justify-between lg:gap-4">
      <Header />
      <div class="pt-24 lg:w-1/2 lg:py-24">
        <About />
        <div>
          <ol class="group/list">
            <Card
              skills={skills}
              title="TRABAJO1"
              description="sadasdasdsdasd"
              href="#"
            />
            <Card
              skills={skills}
              title="TRABAJO1"
              description="sadasdasdsdasd"
              href="#"
            />
            <Card
              skills={skills}
              title="TRABAJO1"
              description="sadasdasdsdasd"
              href="#"
            />
          </ol>
        </div>
      </div>
    </div>
  </div>
</Layout>
