<section
  class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
  id="about"
>
  <div class="space-y-4">
    <p class="mb-4 text-base">
      I'm a full stack developer, <span
        class="font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300"
      >
        passionate for this mesmerizing technology field</span
      >, I am able to develop web projects with the best quality standards and
      using the most modern tools, always adapting my skills in order to meet
      the needs of each client and project.

      <p class="mb-4 text-base">
        I've developed multiple freelance projects in my academic path, applying
        various integrated and innovative methodologies and <span
          class="font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300"
          >using frontend as well as backend technologies.</span
        >
      </p>

      <p class="text-base">
        I excel in the creation of user experiences, <span
          class="font-medium text-slate-200 hover:text-teal-300 focus-visible:text-teal-300"
          >and aesthetic performance in the design field.</span
        > In addition, I always like to exceed client's and user's expectations
        looking forward to immerse them in the most exceptional and interactive
        experience.
      </p>
    </p>
  </div>
</section>
