---
import Card from "./Card.astro";
const skills = ([] = ["React", "Vue", "Angular", "Ruby on Rails"]);
---

<main id="experience">
  <Card
    skills={skills}
    title="TRABAJO1"
    description="sadasdasdsdasd"
    href="#"
  />
</main>
