---
import Buttons from "./Buttons.astro";
---

<nav class="flex flex-col my-10 space-y-4">
  <ul class="mt-16 w-max">
    <li>
      <Buttons title="About" href="#about" />
    </li>
    <li>
      <Buttons title="experience" href="#experience" />
    </li>
    <li>
      <Buttons title="Projects" href="#projects" />
    </li>
  </ul>
</nav>
